@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background: brown;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.btn-direcionado{
    display: flex;
    justify-content: center;
    margin: 200px;
    color: crimson;
}

.base64:hover{
    font-size: 35px;
    color: brown;
}

.cdc:hover{
    font-size: 35px;
    color: brown;
}

.base64, .cdc{
    height: 90px;
    width: 190px;
    margin: 20px 30px 0px 0;
    font-family: 'Rubik Moonrocks', cursive;
    color: aquamarine;
    background-color: #533740;
    border-radius: 20px;
    font-size: 30px;
}

.footer {
    background-color: #533740;
    padding:20px;
    margin: 0px 400px 30px 400px;
    border-radius: 30px;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 10px;
    color: aquamarine;
}
  